In [7]:
# using if statement
if  10:
    print("hello")

hello

In [8]:
if -10:
    print("hello")

hello

In [11]:
if 0:
    print("hello")
else:
    print("Bye")

Bye

In [13]:
# using if else statement
a=40
b=20
if(a<b):
    print("a is smaller than b")
else:
    print("a is greater than b")

a is greater than b

In [16]:
a=int(input("a="))
b=int(input("b="))
if(a<b):
    print(a,"is smaller")
else:
    print(b,"is smaller")

a= 24
b= 12

12 is smaller

In [20]:
# multiple if Statement: here all the true conditions are executed
a=10
b=20
if(a<b):
    print("Hello")
if(b>a):
    print("Hi")
if(a!=b):
    print("By")

Hello
Hi
By

if-elif statement

In [23]:
a=10
b=20
if(a<b):
    print("hello")
elif(b>a):
    print("hi")
elif(a!=b):
    print("bye")
else:
    print("I am optional")

hello

NESTED if-else statement

In [27]:
a=10
b=20
if(a>b):
    print(a,"is greater")
    if(a>0):
        print(a,"is positive")
    else:
        print(a,"a is negative" )  
else:
    print(b,"is  greater")
    if(b>0):
        print(b,"is positive")
    else:
        print(b,"is negative")

20 is  greater
20 is positive

SHORT HAND-if:
only one statement are execute,one for and one for elseand you can put same line

In [28]:
a=20
b=10
if a>b : print("a is greater")

a is greater

In [34]:
a=10
b=20
print("a is greater")if a>b else print("a is smaller")

a is smaller

logical and & or operator

In [35]:
a=200
b=300
c=500
if(a<b and a<c):
    print("True")
else:
    print("False")

True

In [36]:
a=200
b=300
if(a<b or b<a):
    print("True")
else:
    print("false")

True

In [37]:
# pass Statement
a=10
b=20
if a<b:
    pass

 TASK: 1.find no. is +ive/-ive

In [45]:
a=(int(input("n=")))
if(a>0):
    print("no. is +ive")
else:
    print("no. is -ive")

n= -3

no. is -ive

2. find no. is even/odd

In [50]:
a=int(input("no.:"))
if(a%2==0):
    print(a,"is even")
else:
    print(a,"is odd")

no.: 7

7 is odd

Find the no. is even/odd(without using arithmatic operator)

In [57]:
n=int(input("no."))
if(n & 1==0):
    print(n,"is even")
else:
    print(n,"is odd")

no. 20

20 is even

Find greatest b/w two numbers

In [59]:
a=int(input("first num.:"))
b=int(input("second num.:"))
if(a>b):
      print(a,"is the greatest number")
else:
      print(b,"is the greatest number")

first num.: 20
second num.: 40

40 is the greatest number

4. greatest b/w three numbers

In [63]:
a=int(input("first num.:"))
b=int(input("second num.:"))
c=int(input("third num.:"))
if(a>b):
    if(a>c):
        print(a,"is greatest number")
if(b>a):
    if(b>c):
        print(b,"is greatest number")
    else:
        print(c,"is greatest number")

first num.: 10
second num.: 7
third num.: 2

10 is greatest number

In [65]:
a=int(input("first num.:"))
b=int(input("second num.:"))
c=int(input("third num.:"))
if(a>b and a>c):
    print(a,"is greatest number")
elif(b>c and b>a):
    print(b,"is greatest number")
else:
    print(c,"is greatest number")

first num.: 45
second num.: 70
third num.: 50

70 is greatest number

Find no. is even/odd if the no. is greater then 6,else find the no. is multiple of 3or not.

In [76]:
n=int(input("no.:"))
if(n>6):
    if(n%2==0):
        print(n,"is even")
    else:
        print(n,"is odd")
else:
    if(n%3==0):
        print(n,"is multiple of 3")
    else:
        print(n,"is  not multiple of 3")

no.: 15

15 is odd

calculate Ticket price :
age:(00-05) =free
    (06-18)=RS.150
    (19-24=RS.250
    (25-30)=RS.25% off on thre total of age from(6-18+19-24)
    (31-50)= Rs. 3% off on total of first 4 conditions
    (51-60)=go to chaar dhaam yaatra

In [100]:
a=int(input("age:"))
p1=0
p2=150
p3=250
if(a<5):
    print(" Ticket Price:Free")
elif(a>=6 and a<=18):
    print(" Ticket Price:Rs.",p2)
elif(a>=19 and a<=24):
    print(" Ticket Price:Rs.",p3)
elif(a>=25 and a<=30):
    print(" Ticket Price:Rs.",(p1+p2+p3)*0.75)
elif(a>=31 and a<=50):
    print(" Ticket Price:Rs.",(p1+p2+p3)*0.75*0.97)
else:
    print("go to chaar dhaam yatra")

age: 51

go to chaar dhaam yatra