In [2]:

#variables are cotainers for storing data values for storing data values variables are nothing but reserved memory locations to store values
# assigning values to variables
x=10
y="machine"
z=10.78
print(x)
print(y)
z

10
machine

10.78

In [5]:
# variables don't need to be declared with any particular type and can even change type afterthey have been set.
# multiple ASSignment
a = b = c = 30
print(a,b,c)

30 30 30

In [9]:
# Type casting 
x=str(3)
print(x)
y=int(3)
print(y)
z=float(3)
z

3
3

3.0

In [12]:
# Get the type
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [13]:
n=int(input("enter the value:"))
print(n)
print(type(n))

enter the value: 10

10
<class 'int'>

In [15]:
x="Learning"
y="Machine"
print(y+x)
print(x+y)

MachineLearning
LearningMachine

In [16]:
# python have five standard Data types: 1. Numbers 2.String 3.List 4.Tuples 5.Dictionary
# 1. Numbers
a=20
a

20

In [17]:
# delete number
del a

In [18]:
print(a)

NameError: name 'a' is not defined

In [29]:
# 2. String
s="machinelearning"
print(s) #  print complete string
print(s[0])# print first character
print(s[7:15])# print  string starting from 7th to fifth
print(s[7:])#print starting from starting 7th
print('www.'+s)# print concatenated string
print(s[:])# complete string with range start to end
print(s[::])#  print complete string with range start to end with increment 1
print(s[::2])# print complete string with  range start to end with increment 2
print (s[-1]) # print last character of the string
print(s[-5])# print last  5th character of the string

machinelearning
m
learning
learning
www.machinelearning
machinelearning
machinelearning
mcieerig
g
r

In [49]:
# 3. List
l=[10,3.14,'machine', 45,'learning',78.98,'.org.in']
print(l)
print(type(l))# type of list
print(l[1])
print(l[2:8])
print(l[::])
print(l[::2])
print(l[-3])
l2=[10,'machine', 45,'learning',78.98,'.org.in']
print(l2)
print(l2.count('machine'))
print(l2.index(45))
print (l2.insert(2,'ram'))
print(l2)
print(l2.pop(2))
print(l2)

[10, 3.14, 'machine', 45, 'learning', 78.98, '.org.in']
<class 'list'>
3.14
['machine', 45, 'learning', 78.98, '.org.in']
[10, 3.14, 'machine', 45, 'learning', 78.98, '.org.in']
[10, 'machine', 'learning', '.org.in']
learning
[10, 'machine', 45, 'learning', 78.98, '.org.in']
1
2
None
[10, 'machine', 'ram', 45, 'learning', 78.98, '.org.in']
ram
[10, 'machine', 45, 'learning', 78.98, '.org.in']

In [54]:
l1=[10,20,30]
l3=[40,50,60]
print(l1+l3)
print(l1*3)# 3 times print list value

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [11]:
# 4.Tuple
t=(10,3.14,"Machine",45,'learning',78.98,'org.in')# tuple is used ()
print(t)
print(type(t))
print(t[1])
print(t[2:4])
print(t[2:])
print(t[:])
print(t[::])
print(t[::2])
print(t[-2])

(10, 3.14, 'Machine', 45, 'learning', 78.98, 'org.in')
<class 'tuple'>
3.14
('Machine', 45)
('Machine', 45, 'learning', 78.98, 'org.in')
(10, 3.14, 'Machine', 45, 'learning', 78.98, 'org.in')
(10, 3.14, 'Machine', 45, 'learning', 78.98, 'org.in')
(10, 'Machine', 'learning', 'org.in')
78.98

In [13]:
t1=(10,20,30)
t2=(40,50,60)
print(t1+t2)
print(t1*2)

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 10, 20, 30)

In [22]:
# 5. Dictionary
d={}
print(d)
print(type(d))

{}
<class 'dict'>

In [37]:
d={'name':'Kevin','Age':34,'marks':89.58}# dictionary has two parts keys and values part{keys:values}
print(d)
print(type(d))
print(d['name'])
print(d.keys())
print(d.values())
print(d.items())

{'name': 'Kevin', 'Age': 34, 'marks': 89.58}
<class 'dict'>
Kevin
dict_keys(['name', 'Age', 'marks'])
dict_values(['Kevin', 34, 89.58])
dict_items([('name', 'Kevin'), ('Age', 34), ('marks', 89.58)])