# String: string are used in python to record text information ,such as name.

# creating a String

to create a String you need to either single quotesor double quotes.

In [1]:
'Nidhi'

'Nidhi'

In [2]:
"Strings built with double quotes"

'Strings built with double quotes'

In [4]:
# be careful with quotes!
'I'm using single quotes, but will create an error'

SyntaxError: invalid syntax (1768920265.py, line 2)

In [6]:
"now 'I'm using single quotes, but will create an error"

"now 'I'm using single quotes, but will create an error"

In [7]:
'there went "the Animal" '

'there went "the Animal" '

In [8]:
'there went the man called \'boaty McBoatface\' '

"there went the man called 'boaty McBoatface' "

# printing string

using jupyter notebook with just a string in a cell will  automatically output strings, but the currct way to display strings in your output is by using a print function

In [10]:
'namastey  duniya!'

'namastey  duniya!'

In [11]:
print('namastey  duniya!')

namastey  duniya!

"\n" is makes a  newline appear in a String

In [12]:
print('\n namastey  duniya!')

 namastey  duniya!

In [13]:
print('\t namastey  duniya!')

	 namastey  duniya!

# basic String

we can also use a function len() to check the length of a string!

In [17]:
len('namasteyduniya')

14

# String Indexing

In [21]:
s="Machine learning"
print(s)
print(s[0])
print(s[1])
print(s[:])
print(s[1:])
print(s[1:2])
print(s[::])
print(s[::2])
print(s[-2])
print('www.'+s)
print(s*2,end=' ')

Machine learning
M
a
Machine learning
achine learning
a
Machine learning
Mcielann
n
www.Machine learning
Machine learningMachine learning

# String properties

1. immutability: it's mean data can't  change , A new object needs to be created in stead.

In [6]:
s="nidhi"
s

'nidhi'

In [7]:
# concatenate : just means joining two strings together.
s+"Kesharvani"

'nidhiKesharvani'

In [8]:
# we can  use multiplication sybol to create repetition
s

'nidhi'

In [9]:
s*5

'nidhinidhinidhinidhinidhi'

# Basic Built -in -String methods

In [11]:
s

'nidhi'

In [13]:
#method():methodsbare actions that a "data thing"or object like string but functions are actions that belong
#to no 'data thing' aka object and just exist in program
print(s.upper())
print(s.lower())
print(s.swapcase())
print(len(s))
print(s.isupper())
print(s.islower())
print(s.isnumeric())
print(s.isdigit())

NIDHI
nidhi
NIDHI
5
False
True
False
False

In [15]:
print(max(s))

n

In [16]:
print(min(s))

d

In [18]:
s="this is my pc"
s.capitalize()

'This is my pc'

In [20]:
str=" hello world, welcome to python tutorials"
print(str.center(60,"-"))

--------- hello world, welcome to python tutorials----------

In [22]:
print(str.count('w',2,40))

2

# Print Formating

In [34]:
n='python'
a=32
print("my name is",n,"and Age is",a)
print("my name is %s and Age is %d"%(n,a))
print("my name is {} and Age is {}".format(n,a))
print("my name is {0} and Age is {1}".format(n,a))
print("my name is {1} and Age is {0}".format(n,a))
print(f"my name is {n} and Age is {a}")
print(f"my name is {n} and Age is {a} and sum is{20+3}")

my name is python and Age is 32
my name is python and Age is 32
my name is python and Age is 32
my name is python and Age is 32
my name is 32 and Age is python
my name is python and Age is 32
my name is python and Age is 32 and sum is23

# Split Function

In [35]:
s

'this is my pc'

In [36]:
s.split()

['this', 'is', 'my', 'pc']

In [39]:
s

'this is my pc'

In [40]:
s.split('is')

['th', ' ', ' my pc']

# Strip Function

In [47]:
s='            nidhi          '
print(s)
print(s.strip())
print(s.lstrip())
print(s.rstrip())

            nidhi
nidhi
nidhi
            nidhi

In [53]:
s='#nidhi*'
s=s.lstrip('#')
s=s.rstrip('*')   
s

'nidhi'