# python tuple
* python tuple is used to store multiple items in a single variable.
* Tuple is a collection which is ordered and unchangeable.
* tuple are written with roun brackets ()

In [1]:
t=()
t

()

In [2]:
print(type(t))

<class 'tuple'>

In [3]:
t=(10,3.14,'machine',98.38,100,'python',77)
print(t)

(10, 3.14, 'machine', 98.38, 100, 'python', 77)

* tuple items are ordered, unchangeable,and allow duplicate values.
* tuple items are indexed, the first item has index[0],the second item has index[1]etc.
* tuple are unchangeable, meaning that we can't change , add or remove items after the tuple has created.
* since tuple are indexed,tuples can have items with the same value:

In [4]:
t[0]

10

* determine length and type of tuple

In [5]:
print(len(t))

7

In [17]:
print(type(t))

<class 'tuple'>

# access tuple items

In [18]:
print(t)
print(t[0])
print(t[:])
print(t[1:3])
print(t[::])
print(t[2::])
print(t[::2])
print(t[1::2])
print(t[-2])
print(t[-2:])
print(t[2:])

(10, 3.14, 'machine', 98.38, 100, 'python', 77)
10
(10, 3.14, 'machine', 98.38, 100, 'python', 77)
(3.14, 'machine')
(10, 3.14, 'machine', 98.38, 100, 'python', 77)
('machine', 98.38, 100, 'python', 77)
(10, 'machine', 100, 77)
(3.14, 98.38, 'python')
python
('python', 77)
('machine', 98.38, 100, 'python', 77)

# change tuple value

In [4]:
t=(10,3.14,'machine',98.38,100,'python',77)
print(t)

(10, 3.14, 'machine', 98.38, 100, 'python', 77)

In [6]:
l  = list(t)
l[1]='Itronix Solution'
t=tuple(l)
print(t)

(10, 'Itronix Solution', 'machine', 98.38, 100, 'python', 77)

# Unpacking Tuple:

In [8]:
a,b,c=(10,'Nidhi',3.16)
print(a)
print(b)
print(c)

10
Nidhi
3.16

# Loop through a Tuple

* you can loop through the tuple items by using loop.

In [1]:
t=(10,3.14,'machine',98.38,100,'python',77)
for i in t:
    print(i,end=' ')

10 3.14 machine 98.38 100 python 77

 * loop through a index number

In [9]:

for i in range(len(t)):
    print(t[i])

10
3.14
machine
98.38
100
python
77

* print tuple item using while loop

In [12]:
print(t)
i=0
while i<len(t):
    print(t[i],end=' ')
    i=i+1

(10, 3.14, 'machine', 98.38, 100, 'python', 77)
10 3.14 machine 98.38 100 python 77

* join two tuple

In [14]:
t1=[1,2,3]
t2=[4,5,6]
t3=t1+t2
print(t3)

[1, 2, 3, 4, 5, 6]

# multiply tuple

In [16]:
t1
print(t1*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# count item in tuple

In [19]:
t1=(1,2,2,3,4,2)
print(t1.count(2))

3

* Find index of item in tuple

In [21]:
t1.index(3)

3